*{
    font-family: 'Roboto', sans-serif;
}
h3{
    font-weight: 900;
}
input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
}
p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(127, 127, 127);
}
select{
    width: 40%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
    color: rgb(127, 127, 127);
}
input[type="number"]{
    width:20%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
}
input[type="radio"]{
    color: rgb(127, 127, 127);
}
h4{
    color: rgb(127, 127, 127);
}
label{
    color: rgb(127, 127, 127);
}
input[type="checkbox"]{
    color: rgb(127, 127, 127);
}
form{
    color: rgb(127, 127, 127);
}
.terms{
    color: black;
    text-align: center;
}
.learnmore{
    color: black;
    text-align: center;
}
input[type="submit"] {
    width: 80%;
    padding: 20px;
    background-color: #6fbd71;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.error{
    color: red;
    font-size: 12px;
}