*{
    font-family: arial, sans-serif;
}
table {
    border-collapse: collapse;
    width: 100%;
    border-bottom: 1px solid rgb(227, 227, 227);
}
td {
    text-align: left;
    padding: 10px;
    color: #000;
    font-weight: 600;
    border-bottom: 1px solid rgb(227, 227, 227);
}
td img {
    text-align: center;
    padding: 10px;
    color: #000;
    font-weight: 600;
    border-bottom: 1px solid rgb(227, 227, 227);
}
th {
    text-align: center;
    color: rgb(127, 127, 127);
    font-weight: 300;
    border-bottom: 1px solid rgb(227, 227, 227);
    
}
img{
    width: 18px;
    margin: auto;
}
.club{
    text-align: left;
}
.clubs{
    padding: 0px 10px;
    display: inline-block;
    vertical-align: middle;
}
