*{
    font-family: 'Courier New', Courier, monospace;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td {
    text-align: left;
    padding: 8px;
    color: #000;
    font-weight: 600;
}
th {
    text-align: left;
    color: rgb(127, 127, 127);
    font-weight: 300;
}