.container {
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 100%;
}

@media (min-width: 600px) {
    img {
        width: 50%;
    }
}

@media (min-width: 900px) {
    img {
        width: 33.33%;
    }
}

@media (min-width: 1200px) {
    img {
        width: 25%;
    }
}

@media (min-width: 1800px) {
    img {
        width: 20%;
    }
}

@media (min-width: 2400px) {
    img {
        width: 16.66%;
    }
}
