@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins',sans-serif;
    line-height: 1.3;
}
body{
    background: linear-gradient(90deg, #2D8DF5 0%, #F83636 100%);
}
.container{
    width: 95%;
    padding: auto;
    flex-wrap: wrap;
    margin: 5px auto 5px auto;
    border-radius: 29px;
    background: rgba(255, 255, 255, 0.3);
}
h1{
    font-size: 37px;
    margin-top: auto;
    margin-bottom: auto;
}
h2{
    margin-top: 15px;
    font-weight: 500;
    font-size: 30px;
}
.content{
    padding: 40px;
}
input{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    border: 2px solid #3f3f3f;
    margin-left: -4px;
}
.collection img{
    width: 470px;
    height: 300px;
    float: right;
    padding: 10px;
    position: relative;
    border-radius: 15px;
    filter: drop-shadow(10px 40px 30px rgba(0, 0, 0, 0.55));
}
.collection img:hover {
    z-index: 10;
    transform: scale(1.066);
    background-color: rgba(230, 65, 65, 0.55);
}
.collection #img1{
    vertical-align: left;
    margin: 0px 0px auto -43px;
}
.collection #img2{
    vertical-align: right;
    margin: -30px 20px auto 25px;
}
.collection #img3{
    vertical-align: middle;
    margin: -222px -165px auto 150px;
}
footer img{
    width: 60px;
    height: 60px;
    margin: -20px;
}
.box-container{
    display: grid;
    gap: 17px;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    margin-top: -60px;
}
.box{
    height: 12rem;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2rem;
    background: rgba(255, 255, 255, 0.3);
}
.box:hover{
    transform: scale(1.025);
}
.box h3{
    font-size: 28px;
}
.box p{
    text-align: left;
    font-size: 20px;
    margin: -20px auto -20px -20px;
}
@media only screen and (max-width: 800px){
    body{
        position: static;
        width: 90%;
        margin-left: 8px;
    }
    .container{
        margin: 10px 10px 10px 10px;
    }
    input{
        display: inline-block;
        padding: 2px 4px;
    }
    .collection img{
        width: 55%;
        height: 55%;
    }
    .collection #img1{
        margin: -30px 105px auto 0;
    }
    .collection #img2{
        margin: -80px 50px auto 50px;
    }
    .collection #img3{
        margin: -130px -10px auto auto;
    }
    .box-container{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        margin-top: -60px;
    }
    .box{
        height: 10rem;
        font-size: 10px;
        padding: 2rem;
    }
    .box h3{
        font-size: 19px;
    }
    .box p{
        font-size: 18px;
        margin: -15px auto -20px -20px;
    }
}