.bar{
    border: 1px solid black;
    height: 40px;

}
#showDetail{
    margin-top: 10px;
    margin-left: 5px;
}
button {
    margin: 0;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
  }