*{
    font-size: 62.5;
}
.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(19,2,250,0.8), rgba(8, 240, 138, 0.7)), url(CSS227\lab2\img\1.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
    padding: 3rem;
}
.logo-box{
    position: absolute;
    top: 4rem;
    left: 4rem;
}
.logo{
    width: 3.5rem;
}
.text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
}
.header-primary{
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3px;
}