* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: linear-gradient(90deg, rgba(239, 104, 160, 1) 0%, rgba(238, 200, 163, 1) 100%);
}

.container {
    background-color: #0500fb;
    margin: 100px auto;
    color: #fff;
    width: 300px;
    height: 60px;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 13px;
}

#plus {
    float: right;
    margin-right: 110px;
    margin-top: 5px;
}

.container-add {
    background-color: #fff;
    margin-top: -100px;
    height: 60px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #000000;
    padding-left: 10px;
    padding-top: 10px;
}

.add-box {
    border: none;
    outline: none;
    background-color: #fff;
    width: 250px;
    height: 40px;
    font-size: 20px;
    color: #757575;
}

ul {
    list-style-type: none;
}

li {
    background-color: #fff;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    display: flex;
    align-items: center;
}

.delete-btn {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
}

li.task {
    display: flex;
    align-items: center;
}

li.task button {
    margin-right: 10px;
}

.task.done {
    text-decoration: line-through;
    color: #757575;
}