* {
  font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: rgb(255, 255, 255);
    padding: 3rem; 
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(19, 2, 250, 0.8), rgba(8, 240, 162, 0.8)), url(../img/background.jpeg); 
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); 
}

.logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; 
}

.logo {
    height: 3.5rem; 
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    width: 100%;
}

.primary {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 6rem; 
    backface-visibility: hidden;
}
.main {
    display: block;
    font-size: 6rem;
    letter-spacing: 3rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
.sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }

@keyframes moveInLeft {
 0% {
     opacity: 0;
     transform: translateX(-10rem); 
    }
 80% {
     transform: translateX(1rem); 
    }
 100% {
     opacity: 1;
     transform: translate(0); 
    } 
}

@keyframes moveInRight {
 0% {
     opacity: 0;
     transform: translateX(10rem); 
    }
 80% {
     transform: translateX(-1rem); 
    }
 100% {
     opacity: 1;
     transform: translate(0); 
    } 
    
}

.btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
}
  
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); 
}
  
.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); 
}
  
.btn-white {
    background-color: #fff;
    color: #777; 
}
