*{
    font-family: 'Poppins', sans-serif;
}
.box1{
    background-color: #fff;
    opacity: 0.25;
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border-radius: 3%;
}
.container{
    opacity: 1;
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
}
body{
    background: linear-gradient(90deg, rgb(77, 77, 207) 0%, rgb(255, 51, 0) 100%);
}
.icon{
    width: 10%;
    height: 10%;
    text-align: center;
}
h1{
    margin-left: 5%;
}
h3{
    margin-top: 5%;
    margin-left: 5%;
}
h2{
    margin-left: 5%;
}
p {
    margin-left: 5%;
    width: 500px;
}
.mail{
    margin-left: 5%;
}
.box2{
    background-color: #fff;
    opacity: 0.25;
    position: absolute;
    top: 500px;
    right: 700px;
    bottom: 50px;
    left: 40px;
    border-radius: 3%;
}
.box3{
    background-color: #fff;
    opacity: 0.25;
    position: absolute;
    top: 500px;
    right: 450px;
    bottom: 50px;
    left: 300px;
    border-radius: 3%;
}.box4{
    background-color: #fff;
    opacity: 0.25;
    position: absolute;
    top: 500px;
    right: 200px;
    bottom: 50px;
    left: 560px;
    border-radius: 3%;
}.box5{
    background-color: #fff;
    opacity: 0.25;
    position: absolute;
    top: 500px;
    right: 50px;
    bottom: 50px;
    left: 700px;
    border-radius: 3%;
}